{% extends 'base.html' %}
{% block title%} Create Post {% endblock %}

{% block content %} 
<h1>Edit Post</h1>
<form action="/post-details/{{id}}" class="d-inline" method="POST">
  <div class="form-group">
    <label for="post-title">Title:</label>
    <input type="text" class="form-control" name='post-title' id="post-title" value='{{post.title}}' required>
  </div>

  <div class="form-group">
    <label for="post-content">Content:</label>
    <textarea class="form-control" id="content" name='post-content' rows="3">{{ post.content }}</textarea>
  </div>
  
  <u>Add Tags?</u>
    <div class="form-check">
        {% for tag in tags %}
        {% if tag.tag_name in tag_list %}
            <input class="form-check-input" type="checkbox" value="{{ tag.tag_name }}" name='{{ tag.tag_name }}' id="" checked>
            <label class="form-check-label" for="{{ tag.tag_name }}">
                {{ tag.tag_name }}
            </label><br>
        {% else %}
            <input class="form-check-input" type="checkbox" value="{{ tag.tag_name }}" name='{{ tag.tag_name }}' id="">
            <label class="form-check-label" for="{{ tag.tag_name }}">
                {{ tag.tag_name }}
            </label><br>
        {% endif %}
            
        {% endfor %}
    </div>
        

  <div class="text-right">
  <form action="/post-details/{{ id }}" class="d-inline">
    <button type="submit" class="btn btn-outline-primary btn-sm ">Cancel</button>
  </form>

  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </div>
</form>
{% endblock %}